{% extends 'base.html' %}
{% block title%}101.商品マスタ管理画面{% endblock title%}
{% block content %}
<p>
101.発注管理表
</P>
<hr>
<div align="center">
<table border="1">
<th>--</th><th>発注書No</th><th>依頼日</th><th>部署</th><th>依頼者</th><th>方法</th><th>出荷顧客</th>
 <th>発注者</ht><th>分類</th><th>商品CD</th><th>商品名</th><th>規格</th><th>入数</th><th>C/S</th>
 <th>合計数量</th><th>金額</th><th>仕入先CD</th><th>仕入先名</th><th>発注日</th><th>予定日</th>
 <th>納品日</th><th>荷受者</th><th>得意先出荷日</th><th>備考</th>
{%for t_oml2 in t_oml2s %}

<tr>
    <td>
     <a target="_new" href="{% url 'post_detail' pk=t_oml2.pk %}">▶</a></td>
    <td> {{t_oml2.Hachu_no}}</td>
    <td> {{t_oml2.Irai_day}}</td>
    <td> {{t_oml2.Busyo}}</td>
    <td> {{t_oml2.Irai_nm}}</td>
    <td> {{t_oml2.Houhou}}</td>
    <td> {{t_oml2.Syuka_kokyaku}}</td>
    <td> {{t_oml2.Hachu_nm}}</td>
    <td>{{t_oml2.Bunrui}}</td>
    <td>{{t_oml2.Shouhin_cd}}</td>
    {% comment %} <td>bで表示{{b}}ここ</td> {% endcomment %}
    <td>表示不能{{t_oml2.shouhins.all}}ここ</td>
    <td>{{t_oml2}}</td>
    <td>{{t_oml2.Iri_su}}</td>
    <td>{{t_oml2.Case_su}}</td>
    <td>{{t_oml2.Sum_su}}</td>
    <td>{{t_oml2.Kingaku}}</td>
    <td>{{t_oml2.Siresaki_cd}}</td>
    <td>{{t_oml2.Siresaki_nm}}</td>
    <td>{{t_oml2.Hachu_day}}</td>
    <td>{{t_oml2.Yotei_day}}</td>
    <td>{{t_oml2.Nohin_day}}</td>
    <td>{{t_oml2.Nohin_tanto_nm}}</td>
    <td>{{t_oml2.Tokuisaki_shuka_day}}</td>
    <td>{{t_oml2.Biko}}</td>
    </tr>
{% endfor %}
</table>
</div>
<hr>
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">新規商品追加</span></a>
<hr>
{% endblock content %}