{% load static %}
<html lang="ja">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head> 
<meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<hr>
<a href="{% url 'index' %}">リスト<a>
<hr>
    {% comment %} <img src="{% static "images/sitelogo.png" %}" alt="Logo" /> {% endcomment %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}

</body>
</html>